#aditue div div:last-of-type {
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(0, 128, 128);
}

#aditue div div:last-child {
  margin-bottom: -5px;
}

#aditue {
  /*border-top: 5px solid rgb(0, 128, 128);
  border-left: 1px solid rgb(0, 128, 128);
  border-right: 1px solid rgb(0, 128, 128);
  border-radius: 5px 5px 0px 0px;*/
  margin-bottom: 24px;
  border: 0px;
}

.adi_date {
  font-weight: 700;
  font-size: 1.2em;
  background-color: rgb(0, 128, 128);
  color: #F6F5C2;
}

.adi_time {
  margin: 6px 0;
}

.adi_type {
  font-size: 0.7em;
}

.adi_type_img {
  max-height: 16px;
  display: block;
  margin: 0 auto;
}

.adi_date span:first-child,
.adi_time span:first-child,
.adi_type span:first-child {  
  display: inline-block;
  min-width: 80px;
  text-align: center;
}

.adi_wichtig {
	font-weight: 700;
}

.adi_geaendert {
	font-style: italic;
}


