#aditue {
	margin-bottom: 24px;
	border: 0px;
}

.adi_date span:first-child,
.adi_time span:first-child,
.adi_type span:first-child {
	display: inline-block;
	min-width: 80px;
	text-align: center;
}

.adi_date {
	font-weight: 700;
	font-size: 1.1em;
	line-height: 1.25em;
	background-color: #0071bc;
	color: #fff;
	border-top: 2px solid #0071bc;
}

.adi_time {
	border-top: 1px solid #0071bc;
}

.adi_type {
	font-size: 0.75em;
}

.adi_type:empty {
	display: none;
}

.adi_type_img {
	max-height: 0.75em;
	display: block;
	margin: 0 auto;
}
